@adev:registry=https://git.isaev-group.ru/api/v4/packages/npm/
//git.isaev-group.ru/api/v4/packages/npm/:_authToken=glpat-ZtxnD9Y6Dt8MpgJhFjyH
//git.isaev-group.ru/api/v4/projects/26/packages/npm/:_authToken=glpat-ZtxnD9Y6Dt8MpgJhFjyH
//git.isaev-group.ru/api/v4/projects/21/packages/npm/:_authToken=glpat-ZtxnD9Y6Dt8MpgJhFjyH
