.container {
    max-width: 400px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em;
}

.island {
    margin: auto;
}

.button {
    margin: auto;
}

.text-expand {
    display: flex;
    height: 10vh;
    
}